<h1>
  custompipe2 works!
</h1>
<h1>{{pageTitle}}</h1>
<hr>
<table border="2px">
  <thead>
    <th>ID</th>
    <th>NAME</th>
    <th>CITY</th>
    <th>SALARY</th>
    <th>DOB</th>
    <th>AGE</th>
</thead>
<tbody>
  <tr *ngFor="let item of users">
    <td>{{item.id}}</td>
    <td>{{item.name | uppercase}}</td>
    <td>{{item.city | lowercase}}</td>
    <td>{{item.salary | currency: 'INR':'symbol':'3.3-3'}}</td>
    <td>{{item.dob |date:'dd/MM/yyyy'}}</td>
    <td>{{item.dob | age}}</td>
  </tr>
</tbody>
</table>